html{
    font-size: 20px;
    background-color: rgb(246, 246, 246);
}

.title{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 52px;
    font-family:'Verdana',sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    grid-gap:1px 1px;
    height: 500px;
    width: 500px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
}

.grid{
    background-color:lightgray;
    border-width: 1px;
    border-color: white;
}

.sideTitle{
    display:flex;
    justify-content: center;
    margin: 5px;
}

.slidecontainer{
    display:flex;
    direction: row;
    justify-content: center;
    align-items: center;
}

.slider{
    appearance: none;
    background-color: lightgray;
    height: 15px;
    width: 150px;
    border-radius: 10px;  
    border: 1px solid black;
    cursor: pointer;
    margin-right: 10px;
}
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
    background: black;
    cursor: pointer;
  }

  .leftside, .center, .rightside{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
  }

  .button{
    height:20px;
    width: 100px;
    margin: 5px;
  }